.content {
  font-family: "LXGW Bright", "Cascadia Code", "Lucida Console", "等线",
    "Microsoft YaHei", PingFangSC-Regular, sans-serif;
}

:root {
  --primary-hue: 357deg;
  --primary-saturation: 100%;
}
